<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Упарвление складом</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarehouseManagement.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content-wrapper">

        <div class="sidebar">
            <div class="sidebar-header">Управление складом</div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">Склад</div>
                <a asp-page="/Warehouse/Receipts" class="sidebar-item  @(Context.Request.Path.StartsWithSegments("/Warehouse/Receipts") ? "active" : "")">Поступления</a>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">Справочники</div>
                <a asp-page="/Directories/Resources/Main" class="sidebar-item  @(Context.Request.Path.StartsWithSegments("/Directories/Resources") ? "active" : "")">Ресурсы</a>
                <a asp-page="/Directories/Units/Main" class="sidebar-item @(Context.Request.Path.StartsWithSegments("/Directories/Units") ? "active" : "")">Единицы измерения</a>
            </div>
        </div>

        <div class="main-content">
            <h1 class="page-title">@ViewData["Title"]</h1>
            @RenderBody()
        </div>

    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
